<br><br>
<body>
<div class="container features" id="about1">
    
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12" id="col1" >
        M/S InfoTech Solution is one of the leading IT & Telecom Solution providers in North East India in the field of project 
        implementation and support of Software Applications, GSM, Satellite Communication, Microwave, IT Infrastructure and Wify/WiMax. 
        We provide customized IT & Telecom solution to clients, Design & implementation of Network, Client Server hardware and software 
        solution, Manpower Resource provider (recruitment & business process outsourcing) and Workflow with business applications.<br><br>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12" id="col2">

        M/S InfoTech Solution invests extensively in R&D to conceive new solutions for the ever-changing needs of business, making them future-proof, sustainable and consistent. We work in close collaboration with academic institutions and research labs across Northeast India to design, implement and support the latest IT-based solutions that are futuristic, progressive and affordable. InfoTech’s services continue to earn trust and loyalty from clients through our commitment to the following parameters:
<ul>
     <li>  Superior Quality</li> 
     <li>    On-time Delivery</li> 
     <li>   Cost Effectiveness</li> 
     <li>    Excellent Customer Support</li> 
    </ul>
</div>
<div class="col-lg-4 col-md-4 col-sm-12" id="col3">
   <h3>Staying at the Forefront of Technology</h3> <br>

    Our wide range of deliverables encompasses some of the following areas of our expertise:
    <br>
    <ul>
        <li>IT and Business Consulting</li>  
        <li>  Systems Integration and Application Management</li>  
        <li>  Electrical, Construction Solution</li>  
        <li>   Hardware & Server Services</li>  
        <li>   Broadband Systems</li>  
        <li> App, Web/Desktop Application & Website Development</li>  
        <li> Telecom Implementation & Integration Services</li>  
        <li> Consultancy – Project designing, implementation, manpower support
        </li>  
</ul>
</div>

</div>
</div>


</body>