.topheader {
    display: block;
    width: auto;
    height: 10%;
    padding: 1px;
    text-align: center;
    background-color: paleturquoise;
    overflow: hidden;
  }
  .parallaxcontact {
   
    background-image: url("https://th.bing.com/th/id/R.2ca658dd9536f7badf276fd668cba2a3?rik=V5Ilzc5%2bg%2fcQUw&riu=http%3a%2f%2fgiftnkind.com%2fmedia%2f7945%2fcontact.jpg&ehk=B0dKaboFRsi5mo0CjNflSh0EJAxJlcL4dFgmov5xyME%3d&risl=&pid=ImgRaw&r=0");
    min-height: 550px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
 

  .img{
    image-orientation: from-image;
  }
  .msg{
    margin-left: 0%;
    font-size: medium;
    color:red;
  }
  #det{
    color:brown;
    font-style: bold;
    font-size: 20px;
    font-family:cursive
  }

  .border{
    border:groove;
    background-color:red;
    padding:10px;
  }
  #mySidenav a {
    position: absolute;
    left: -108px;
    transition: 0.3s;
    padding: 10px;
    width: 130px;
    text-decoration: none;
    font-size: 20px;
    color: darkcyan;
    border-radius: 0 5px 5px 0;
  }
  
  #mySidenav a:hover {
    left: -1;
  }
  
  #showabout {
    top: 90px;
    background-color:rgb(136, 233, 233);
  }
  


  
  .descriptionbutton {
    font-size: medium;
    border:1px darkcyan;
    background:darkcyan;
    border-radius: 0;
    color:#fff; 
    margin-left:140px;
  }
  .descriptionbutton:hover {
    border:1px solid darkcyan;
    background :lightsteelblue;
    color:#000;
  }


    .mapouter{position:relative;text-align:right;height:500px;width:600px;}
    .gmap_canvas {overflow:hidden;background:none;height:500px;width:800px;}
    .dropbtn {
      background-color: #4CAF50;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
    .dropdown {
      position: relative;
      display: inline-block;
      margin-left: 650;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  
    }
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    .dropdown-content a:hover {background-color: #f1f1f1}
    .dropdown:hover .dropdown-content {
      display: block;
    }
    .dropdown:hover .dropbtn {
      background-color: #3e8e41;
    }