.col1{
    top: 500px;
    left: 400px;
}

.col2{
    top: 500px;
    left:500px;

}

.divfull{
    left: 500px;}
    

h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
}

