<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<br><Br>
  
  <h1>INFOTECH SOLUTIONS</h1>
<div class=navg><nav class="navbar navbar-default">      
    <a routerLink="">Home</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="gallery">Gallery</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="services">Services</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="about">About</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="contact">Contact us</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</nav>
</div>
<router-outlet></router-outlet>
