.navg{
    text-align:right;
    color:black;
    font-family:cursive;
    font-size: xx-large;
}
h1{
    color:black;text-shadow:2px 2px 5px lightskyblue;
    font-size:50px;
    padding:8px;
    text-align:center;
    font-family: cursive;
    font-weight: bolder;

}

